[client]
host     = 1.1.1.2
user     = $KOHA_ADMINUSER
password = $KOHA_ADMINPASS
socket   = /var/run/mysqld/mysqld.sock

[mysql_upgrade]
host     = 1.1.1.2
user     = $KOHA_ADMINUSER
password = $KOHA_ADMINPASS
socket   = /var/run/mysqld/mysqld.sock
basedir  = /usr
